@import "./colores.scss";

$meli-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$meli-font-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

$spacing-5: 5px;
$spacing-25: 25px;
$spacing-40: 40px;
$spacing-50: 50px;

$font-size-16: 16px;
